<h2 class="text-white">Crée un compte</h2>
<input [(ngModel)]="newUserName" placeholder="Nouvel utilisateur">
<input [(ngModel)]="newUserPassword" placeholder="Password">
<button (click)="addUser()">Ajouter</button>
<ul>
  <li *ngFor="let user of users$ | async" class="text-white">
    {{ user.name }}
    <button (click)="deleteUser(user.id)">Supprimer</button>
  </li>
</ul>

<h2 class="text-white">Connexion</h2>
<input [(ngModel)]="userName" placeholder="Nouvel utilisateur">
<input [(ngModel)]="userPassword" placeholder="Password">
<button (click)="connectUser()">Se connecter</button>
<p class="text-white">{{ message }}</p>