.container-app {
    width: 100svw;
    height: 100svh;
    background-color: #3D3D3D;
    overflow: hidden;

}

.titleBar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleBar img {
    width: 200px;
}

.separator {
    margin-top: 10px;
    width: 95%;
    height: 3px;
    background-color: #575757;
    border-radius: 3px;
}

nav {
    display: flex;
}
.content {
    width: 95%;
    height: 100%;
}