nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}
nav a{
    margin: 0.5em 1em;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover{
    opacity: 0.5;
    text-decoration: underline;
}